* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color: #31385f;
  --white: #fff;
  --orange: #ff3b0f;
  --green: #00b678;
  --blue: #5458e1;
  --purple: #00bbdd;
}

body {
  font-family: "Nunito", sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
  overflow-x: hidden;
}

a,
a:hover {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

label {
  margin-bottom: 0 !important;
}

.pointer {
  cursor: pointer;
}

.bg-green {
  color: var(--white);
  background-color: var(--green);
}

.bg-blue {
  color: var(--white);
  background-color: var(--blue);
}

.border-blue {
  border-left: 5px solid var(--blue);
}

.border-orange {
  border-left: 5px solid var(--orange);
}

.border-purple {
  border-left: 5px solid var(--purple);
}

.border-green {
  border-left: 5px solid var(--green);
}

.bg-orange,
.bg-orange:hover {
  color: var(--white);
  background-color: var(--orange);
}

.bg-purple {
  color: var(--white);
  background-color: var(--purple);
}

/* Dashboard */
.dash__card {
  box-shadow: 0 0 20px #b9b9b9;
  padding: 30px 10px;
  margin: 10px 0px;
  border-radius: 8px;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dash__card .dash__card_icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash__card .dash__card_icon svg {
  fill: white;
  width: 40px;
  height: 40px;
}

.dash__card p {
  margin: 10px 0;
  font-size: 1.6rem;
}

.users-tabs .nav-tabs {
  border: 0;
}

.users-tabs .nav-tabs .nav-link {
  width: 250px;
  text-align: center;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 18px;
  margin: 0px 5px;
  cursor: pointer;
}

.users-tabs .nav-tabs .active {
  background-color: var(--primary-color);
  color: #fff;
  margin: 0px 5px;
}

@media only screen and (max-width: 700px) {
  .users-tabs .nav-tabs .nav-link {
    width: 100%;
    margin-bottom: 5px;
  }
}